#menu-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 40px 26px;
    background-color: #e2cbbc;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}

#menu-container h2 {
    text-align: center;
}

#menu-container hr {
    width: 20%;
    border-color: #c9af9e;
}

#item-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#item-boxes hr {
    width: 80%;
}

#item-boxes .item-box {
    display: flex;
    justify-content: space-between;
}

.item-box .item-description {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
