* {
    box-sizing: border-box;
}

html, button {
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.6rem;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
}

.btn:hover {
    background-color: #ddd;
}

.btn:active {
    transform: scale(0.98);
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#menu-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 40px 26px;
    background-color: #e2cbbc;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}

#menu-container h2 {
    text-align: center;
}

#menu-container hr {
    width: 20%;
    border-color: #c9af9e;
}

#item-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#item-boxes hr {
    width: 80%;
}

#item-boxes .item-box {
    display: flex;
    justify-content: space-between;
}

.item-box .item-description {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
